/* Base Styles --------*/

:root {
    --background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    list-style-type: none;
}

/* Wrapper Styles -----*/

.container {
    width: 90%;
    margin: auto;
}

/* Layout Styles ------*/

nav li {
    background-color: white;
}

.introduction img {
    display: block;
    margin: auto;
    width: 60%;
}

.introduction p {
    text-align: center;
}

/* Class Styles -------*/

.name {
    text-align: center;
}

.navigation {
    padding: 0;
    text-align: center;     
}

.navigation li {
    padding: 5px;
    margin: 5px 0 5px 0;
}

.portfolio {
    background-color: white;
    text-align: center;
}

.col {
    padding: 7px;
}

.col img {
    width: 100%
}

.contact {
    text-align: center;
}

.contact span {
    font-weight: bold;
}

.footer {
    border-top: 1px solid black;
    font-weight: bold;
}

/* Id's ---------------*/

#studentname {
    float: left;
}

#backtotop {
    float: right;
    text-transform: uppercase;
}

/* Media Queries ------*/

@media (min-width: 768px) {

    .navigation li {
        display: inline-block;
        background-color: var(--background-color);
    }

    .introduction img {
        float: right;
        width: 50%;
    }

    .introduction p {
        width: 50%;
    }

    .col {
        float: left;
    }

    .first, .second, .third, .fourth, .fifth, .sixth {
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .container {
        width: 80%;
        margin: auto;
    }

    .name {
        float: left;
    }

    .navigation {
        float: right;
    }

    .first, .second, .third, .fourth, .fifth, .sixth {
        width: 33%;
    }
}

/* Clearfix -----------*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  